<CONFIG>
<CONFIG-ITEM>
<BASE_URL>https://qualysapi.qg1.apps.qualys.com.au</BASE_URL>
<USERNAME>replace-name</USERNAME>
<PASSWORD>replace-password</PASSWORD>
<PAGESIZE>1</PAGESIZE>
</CONFIG-ITEM>
</CONFIG>